


services:
  postgres_db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis_cache:
    image: redis/redis-stack:latest
    container_name: redis_cache
    restart: always
    ports:
      - "6380:6379"
    networks:
      - app_network





volumes:
  postgres_data:

networks:
  app_network:
    driver: bridge

